:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
header {
  background-color: #333; /* Grey */
  color: white;
  padding: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  font-size: 30px;
  display: flex;
}
nav a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}
footer {
  left: 10px;
  right: 10px;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  margin: auto;
  text-align: center;
}

/* Global */
.iconLink {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.iconLink:hover {
  background-color: white;
}
.pageLink {
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.pageLink:hover {
  background-color: darkorange;
}


/* Resume */
#resumePDF {
  max-width: 50%;
  margin: auto;
}
#downloadPDF {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 25px;
}
#downloadPDFDiv {
  margin: 1px;
}
#downloadPDFDiv div {
  margin: 10px;
}

/* Projects */
#projectTable {
  margin: auto;
}
#projectTable td {
  padding: 15px;
}

/* About */
.aboutLabel {
  font-size: 25px;
  margin: 0px;
  padding-bottom: 2px;
}
.aboutContent {
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}
#aboutTable {
  background-color: rgba(255, 255, 255, 0.035);
  margin: auto;
  padding: 10px;
  width: 60%;
}
#aboutTable hr {
  color: white;
  margin-top: 0px;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  /* Mobile devices */
  nav {
    font-size: 15px;
    display: flex;
  }
  nav a {
    margin-right: 5px;
    color: white;
    text-decoration: none;
  }
  #aboutTable {
    width: 100%;
  }
}
